{% if data['style'][key]['type'] == "icon" %}
<div id='{{ key }}' onclick="open_adei_page('{{ key }}')" class="databox" tooltip="" data-icon-type="{{ data['style'][key]['icon-type'] }}" data-query="{{ data['varname'][key]['url'] }}" data-type="{{ data['style'][key]['type'] }}" data-onCondition="{{ data['style'][key]['div']['data-onCondition'] }}" data-offCondition="{{ data['style'][key]['div']['data-offCondition'] }}" data-link-adei="{{ data['style'][key]['div']['data-link-adei'] }}" data-trend="{{ data['style'][key]['div']['data-trend'] }}"
    style='position: absolute; top:{{ data['style'][key]['top'] }}; left:{{ data['style'][key]['left'] }};
    icon-type:{{ data['style'][key]['icon-type'] }}; rotate:{{ data['style'][key]['div']['rotate'] }};'>
    <img width='100%' height='100%' src="{{ static_url( data['style'][key]['icon-type'] + '_inactive.png' ) }}"></img>
</div>
{% else %}
{% end %}
