{% if data['style'][key]['type'] == "input" %}
<div id='{{ key }}'  style='position: absolute; top: {{ data['style'][key]['top'] }}; left:{{
    data['style'][key]['left'] }};
    height:{{ data['style'][key]['height'] }}px;' data-type='input'><p><span style='color: #000; font-size: {{ data['style'][key]['div']['font-size'] }}; font-weight: {{ data['style'][key]['div']['font-weight'] }};' class='title'>{{ data['style'][key]['div']['text-name'] }}</span> <input id='{{ key }}_input' type='text' style='font-size:{{ data['style'][key]['input']['font-size'] }}; width:{{ data['style'][key]['input']['width'] }}'></input></div>
{% else %}
{% end %}
